@media (min-width: 1086px) {
  header {
    height: 60vh;
    background-position: bottom;
    h1 {
      font-size: 9rem;
      font-weight: 500;
    }
  }
}

@media (min-width: 769px) and (max-width: 1086px) {
  header {
    height: 70vh;
    background-position: bottom;
    h1 {
      font-size: 6rem !important;
      font-weight: 500;
    }
  }
}
